<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Gostaría de te dar as boas vindas em nome da equipe WePlan.</p>
  <p>Nossa missão é simplificar a sua vida.</p>
  <p>Clique no link abaixo para ativar o seu perfil:</p>
  <p>
    <a href="{{link}}">Ativar meu perfil</a>
  </p>
  <p>Qualquer dúvida entre em contato conosco</p>
  <a href="tel:+5531999324093">
    <p>Telefone</p>
  </a>
  <a href="mailto:contato@weplan.family">
    <p>E-mail</p>
  </a>
  <p>Esperamos que tenha uma experiência maravilhosa conosco.</p>
  <p>
    Seja bem vindo(a)!
    <br />
    <strong>Equipe WePlan</strong>
  </p>
</div>
